<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.community.steam.mapper.GameChartSnapshotMapper">

    <insert id="insertBatch">
        INSERT INTO t_game_chart_snapshot (
            board_type, period_key, app_id, rank_no, snapshot_time, snapshot_id, is_current
        ) VALUES
        <foreach collection="rows" item="item" separator=",">
            (
                #{item.boardType}, #{item.periodKey}, #{item.appId}, #{item.rankNo},
                #{item.snapshotTime}, #{item.snapshotId}, #{item.isCurrent}
            )
        </foreach>
    </insert>
</mapper>
