.image-zoom-control {
  display: flex;
  align-items: center;
  gap: 12px;

  &__label {
    flex: 0 0 auto;
  }

  &__slider {
    flex: 1;
    min-width: 100px;
    margin: 0;
  }

  &__input {
    flex: 0 0 92px;
  }
}
